body {
  background-image: url('../gaminglogo.avif'); /* Replace with your image URL */
  background-size: cover; /* This ensures the image covers the whole background */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

html, body {
  height: 100%; /* Ensure body takes full height */
  margin: 0;
  width:auto;
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
}

#game-canvas {
  background-color: #eee; /* Keep your background */
}

footer {
  clear: both;
  border: 1px groove #aaaaaa;
  background: rgb(54, 53, 53);
  color: White;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
  margin: 0;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

a {
  color:rgb(111, 166, 214);
  text-decoration: none;
}

@media (max-width: 350px) {
  
}
